.mainDiv {
  position: relative;
  width: 100%;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  width: 100%;
  height: 100%;
  top: 0;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.footerIcons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 10px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .mainDiv {
    background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
    color: black;
  }
}

@media only screen and (min-width: 992px) {
  .mainDiv {
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
    /* height: 100vh; */
  }
}
